[Unit]
Description=Load wlan firmware
Wants=network.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe wlan
ExecStart=/usr/bin/bash -c 'echo 1 > /sys/module/hci_smd/parameters/hcismd_set;'

[Install]
WantedBy=multi-user.target
